.Button {
  padding: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: var(--border-radius-default);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.05),
    -1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(0, 0, 0, 0.1);

  user-select: none;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 4px 7px rgba(0, 0, 0, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.05),
      -1px 0 0 rgba(0, 0, 0, 0.05), 1px 0 0 rgba(0, 0, 0, 0.05);
  }
}
