// @import-normalize;

// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   outline: 0;
//   border: 0;
//   box-sizing: border-box;
// }

// *:focus {
//   outline: 0;
// }

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section {
//   display: block;
// }

// ol,
// ul {
//   list-style: none;
// }

// textarea {
//   resize: none;
// }

// a {
//   text-decoration: none;
//   color: inherit;
// }

// address {
//   font-style: normal;
// }

// input,
// textarea,
// button,
// select {
//   font: inherit;
//   -webkit-font-smoothing: inherit;
// }

// button,
// select {
//   cursor: pointer;
// }

// button {
//   background-color: transparent;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus {
//   background-color: transparent;
// }
