@import-normalize;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  //   outline: 0;
}

button {
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: 0;
}

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section {
//   display: block;
// }

// ol,
// ul {
//   list-style: none;
// }

// textarea {
//   resize: none;
// }

// address {
//   font-style: normal;
// }

// input,
// textarea,
// select,
button {
  font: inherit;
  -webkit-font-smoothing: inherit;
}

// select,
button {
  cursor: pointer;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus {
//   background-color: transparent;
// }
