:root {
  // Fonts
  --font-basic: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-primary: 'Roboto', var(--font-basic);
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --line-height-xs: 1.3;
  --line-height-s: 1.4;
  --line-height-m: 1.5;
  --line-height-l: 1.6;

  // Colors
  --color-bg: #f2f2f2;
  --color-brand-green: #07a23b;
  --color-brand-yellow: #e8a427;
  --color-brand-red: #cd192e;
  --color-brand-brown: #70544f;
  --color-default-light: #ffffff;
  --color-default-dark: #000000;
  --color-grey-light: #bdbfc1;
  --color-grey-dark: #595959;

  // Other
  --border-radius-default: 8px;
  --padding: 20px;
}

@media (max-width: $phone) {
  :root {
    --padding: 10px;
  }
}
