.Title {
  font-weight: 500;

  &__level {
    &-1 {
      font-size: var(--font-size-xxl);
      line-height: var(--line-height-xs);
    }

    &-2 {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xs);
    }

    &-3 {
      font-size: var(--font-size-l);
      line-height: var(--line-height-xs);
    }

    &-4 {
      font-size: var(--font-size-m);
      line-height: var(--line-height-xs);
    }

    &-5 {
      font-size: var(--font-size-s);
      line-height: var(--line-height-xs);
    }

    &-6 {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
    }
  }
}
