@import 'media';

.App {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    height: 60px;
  }

  &__main {
    flex: 1;
    display: flex;
  }

  &__menu {
    @media (max-width: $phone) {
      display: none;
    }
  }

  &__workarea {
    flex: 1;
    padding: var(--padding);

    overflow-x: hidden;
    overflow-y: auto;
  }
}
