.Menu {
  padding: var(--padding) 0;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  &__link {
    width: 100%;
    margin-bottom: 5px;
    padding: calc(var(--padding) / 2) var(--padding);

    display: flex;
    align-items: center;

    background-color: transparent;
    border-top-right-radius: var(--border-radius-default);
    border-bottom-right-radius: var(--border-radius-default);
    transition: background-color 100ms;

    white-space: nowrap;

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover:not(.Menu__link_active) {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &_active {
      background-color: var(--color-default-light);
    }
  }
}
